.bio {
    display: flex;
    justify-content: center;

    &__left-col {
        img {
            height: 200px;
        }
    }

    &__right-col {
        margin-left: 50px;

        p {
            text-align: left;
        }

        .name {
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 20px;
        }

        .bio-row {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;

            &__label {
                // margin-right: 20px;
                width: 50%;

                display: flex;
                justify-content: flex-start;
            }

            &__value {
                width: 50%;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}