.player-stats {

    &__yearly-stats {
        .head {
            display: flex;
            justify-content: center;
        }

        // most likely will change
        table {
            margin: auto;
        }
    }
}