.jumbotron {
    background-color: #203731; // TODO: use variable
    height: 200px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 50px;

    img {
        height: 65%;
    }
}


.career {
    border: 1px solid black;
    border-radius: 10px;
    width: 401px;
    margin: 30px auto;
    border-top: none;

    div {
        background-color: #20372F;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #FFB612;
        font-weight: bold;
        padding: 10px;
    }

    .career-table {
        margin: auto;
        padding: 10px 0;

        th, td {
            padding: 5px;
        }
    }
}

#totals {
    border-top: 1px solid black;

    td {
        font-weight: bold;
    }
}