.jumbotron {
    background-color: #203731; // TODO: use variable
    height: 200px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    margin-bottom: 50px;

    img {
        height: 65%;
    }
}